<table>
  <tbody>
      <% book.comments.each do |comment| %>
      <tr>

        <td>
          <%= link_to user_path(user) do %>
            <%= image_tag comment.user.get_profile_image, size: "100x100" %><br>
            <%= comment.user.name %>
          <% end %>
        </td>
        <td><%= comment.comment %></td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to "削除", book_comment_path(comment.book_id, comment.id), method: :delete, class: "btn btn-sm btn-danger pull-right", data: {confirm: "本当に削除しますか？"} %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>